
@{
    ViewBag.Title = "Reservaciones";
    ProyectoReservaFrontEnd.Models.habitacion obtenerHabitacion = ViewBag.habitaciones;
    ProyectoReservaFrontEnd.Models.cliente cliente = ViewBag.cliente;
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker-standalone.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
    <link href="~/Source/css/style2.css" rel="stylesheet" />
}
<!-- ======= Team Reservaciones ======= -->
<section id="team" class="team">
    <div class="content">
        <div class="content__inner">
            <div class="container">
                <h2 class="content__title content__title--m-sm">Reservar una habitación en nuestro hotel y disfruta de una experiencia inolvidable</h2>
            </div>
            <div class="container overflow-hidden">
                <div class="multisteps-form">
                    <div class="row">
                        <div class="col-12 col-lg-8 ml-auto mr-auto mb-4">
                            <div class="multisteps-form__progress">
                                <button class="multisteps-form__progress-btn js-active" type="button" title="User Info" disabled>Registro del Huésped</button>
                                <button class="multisteps-form__progress-btn js-active" type="button" title="Address" disabled>Selección de Habitacion</button>
                                <button class="multisteps-form__progress-btn js-active" type="button" title="Order Info">Registro de la Reserva</button>
                                <button class="multisteps-form__progress-btn" type="button" title="Message" disabled>Registro de Pago</button>
                                <button class="multisteps-form__progress-btn" type="button" title="Message"disabled>Completo</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-8 m-auto">
                            

                                <!--Registro de la Reserva-->
                            <div class="shadow p-4 rounded bg-white js-active" data-animation="scaleIn">
                                <h3 class="multisteps-form__title">Datos para la Reserva</h3>
                                <hr class="shb-total-separator">

                                @using (Html.BeginForm("GuardarReserva", "Reservaciones", FormMethod.Post, new { id = "frm-resrvaciones" }))
                                {

                                    <br />
                                    <div class="multisteps-form__content">
                                        <div class="row">
                                            @*ID RESERVA*@

                                            @*ID HABITACION*@
                                            <div class="col-md-6 form-group">
                                                <label for="validarHabitacion">Habitacion:<span class="red"></span></label><br />
                                                <select class="custom-select" id="idhabitacion" name="idhabitacion" required>
                                                    <option selected value="@obtenerHabitacion.idhabitacion">@obtenerHabitacion.tipo_habitacion.descripcion</option>
                                                </select>
                                            </div>
                                        </div>
                                        @*ID CLIENTE*@
                                        <input type="hidden" name="idcliente" value="@cliente.idcliente" />
                                        @*ID IDTRABAJADOR*@
                                        <input type="hidden" name="idtrabajador" value="4" />
                                        @*ID TIPORESERVA*@
                                        <input type="hidden" name="tipo_reserva" value="Online" />

                                        <div class="row">
                                            <div class="col-md-6 form-group mt-3 mt-md-0">
                                                <label for="validarNombre">Nombre:<span class="red"></span></label>
                                                <input type="text" class="form-control" id="validarNombre" name="nombres" value="@cliente.nombres" disabled>
                                            </div>

                                            <div class="col-md-6 form-group mt-3 mt-md-0">
                                                <label for="validarApellidos">Apellidos:<span class="red"></span></label>
                                                <input type="text" class="form-control" id="validarApellidos" name="apellidos" value="@cliente.apellidos" disabled>
                                            </div>

                                            <div class="col-md-6 form-group mt-3 mt-md-1">
                                                <label for="validarEmail">Email:<span class="red"></span></label>
                                                <input type="email" class="form-control" id="validarEmail" name="email" value="@cliente.email" disabled>
                                            </div>


                                            <div class="col-md-6 form-group mt-3 mt-md-1">
                                                <label for="validarTelefono">Teléfono:</label>
                                                <input type="number" class="form-control" id="validarTelefono" name="telefono" value="@cliente.telefono" max="999999999" disabled>
                                            </div>

                                            @*ID FECHA INGRESO*@
                                            <div class="col-md-6 form-group mt-3 mt-md-2">
                                                <label for="validarFecha">Fecha de Entrada:</label>

                                                <div class="input-group">
                                                    <input type="text" class="form-control" placeholder="Fecha de Entrada" id="dob" name="fecha_ingreso" required>
                                                    <div class="input-group-append">
                                                        <span class="input-group-text" name="fecha_ingreso"><i class="far fa-calendar-alt"></i></span>
                                                    </div>
                                                </div>
                                            </div>

                                            @*ID FECHA SALIDA*@
                                            <div class="col-md-6 form-group mt-3 mt-md-2">
                                                <label for="validarFecha">Fecha de Salida:</label>

                                                <div class="input-group">
                                                    <input type="text" class="form-control" placeholder="Fecha de Salida" id="dob2" name="fecha_salida" required>
                                                    <div class="input-group-append">
                                                        <span class="input-group-text" name="fecha_salida"><i class="far fa-calendar-alt"></i></span>
                                                    </div>
                                                </div>

                                            </div>

                                            @*OBSERVACION*@
                                            <div class="row-cols-md-auto form-group ms-xxl-auto mt-md-3">
                                                <label for="validarRequerimientos">Requerimientos Especiales:</label>
                                                <textarea type="text" class="form-control" id="validarRequerimientos" name="observacion" required></textarea>
                                            </div>

                                            @*COSTO ALOJAMIENTO*@
                                            <div class="col-md-6 form-group mt-3 mt-md-1">
                                                @*<label for="validarTelefono">Costo Alojamiento: </label>*@
                                                <input type="number" class="form-control" id="costo_alojamiento" name="costo_alojamiento" value="4" hidden>
                                            </div>

                                            @*ESTADO*@
                                            <input type="hidden" name="estado" value="2" />

                                            <div class="button-row d-flex mt-4">
                                                @*<button class="btn btn-warning" type="submit" title="Prev">Atras</button>*@
                                                <button class="btn btn-danger ml-auto" type="submit" title="Next">Siguiente</button>
                                            </div>
                                        </div>
                                    </div>
                                 }
                            </div>
                            

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Source/js/function.js"></script>
</section><!-- End Team Section -->

<script>
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            var forms = document.getElementsByClassName('needs-validation');
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();

    $(function () {
        $('#dob').datetimepicker({
            format: 'DD/MM/YYYY',
            icons: {
                previous: "fas fa-chevron-left",
                next: "fas fa-chevron-right",
            },
        });
        $('.input-group-append').click(function () {
            $('.form-control').trigger('focus');
        });
    });

    $(function () {
        $('#dob2').datetimepicker({
            format: 'DD/MM/YYYY',
            icons: {
                previous: "fas fa-chevron-left",
                next: "fas fa-chevron-right",
            },
        });
        $('.input-group-append').click(function () {
            $('.form-control').trigger('focus');
        });
    });
</script>


